<!-- templates/data_table.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binance Data Table</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    
    <h1>Binance Data Table
        <form action="{% url 'index' %}" method="post" style="position: relative;display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-lg">Back to Chart</button>
        </form>
    </h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>idx</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Timestamp</th>
                <th>Timestamp to date</th>
            </tr>
        </thead>
        <tbody>
            {% load timetag %}
            {% for entry in data_entries %}
            <tr>
                <td>{{ forloop.counter0 }}</td>
                <td>{{ entry.symbol }}</td>
                <td>{{ entry.price }}</td>
                <td>{{ entry.timestamp }}</td>
                <td>{{ entry.timestamp|print_timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{% url 'clear_data' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-lg">Clear Database</button>
    </form>    
    <form action="{% url 'update_data' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success btn-lg">update data</button>
    </form>
</div>

</body>
</html>
